{% extends "base.html" %}
{% load page_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="sm:px-8 mt-9 sm:mt-16">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">

          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
              {{ page.title }}
            </h1>
            <div class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
              {{ page.intro|richtext }}
            </div>
          </header>

          <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for gallery in galleries %}
              <figure class="border border-gray-300 rounded-md p-2 {% random 'rotate-1' '-rotate-1' 'rotate-2' '-rotate-2' %}">
                <a href="{% pageurl gallery %}">
                  {% with gallery.specific.main_image as main_image %}
                    {% image main_image.image fill-320x240 as image %}
                    <img src="{{ image.url }}" alt="{{ gallery.title }}" class="rounded w-full" />
                  {% endwith %}
                </a>

                <figcaption class="pt-2 text-center">
                  <a href="{% pageurl gallery %}" class="text-gray-700 font-medium hover:text-primary-600">
                    {{ gallery.title }}</a>
                </figcaption>
              </figure>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
