{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="sm:px-8 mt-9 sm:mt-16">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">

          <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">

            <div class="lg:pl-20">
              <div class="max-w-xs px-2.5 lg:max-w-none">
                {% if page.photo %}
                  {% image page.photo fill-600x600 as about_image %}
                  <img class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
                       src="{{ about_image.url }}" alt="about image" />
                {% endif %}
              </div>
            </div>

            <div class="lg:order-first lg:row-span-2">
              <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                {{ page.title }}
              </h1>

              <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
                {{ page.content|richtext }}
              </div>
            </div>

            <div class="lg:pl-20">
              <ul role="list" class="space-y-4">
                {% for social_link in page.social_links.all %}
                  <li>
                    <a
                      href="{{ social_link.link.url }}" target="_blank"
                      class="group flex text-sm font-medium text-zinc-800 transition hover:text-primary-500 dark:text-zinc-200 dark:hover:text-primary-500"
                    >
                      <span class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-primary-500">
                        <i class="fa-brands {{ social_link.link.icon }} fa-xl"></i>
                      </span>
                      <span class="ml-4">Follow on {{ social_link.link.title }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
