{% extends "base.html" %}
{% load blog_tags contacts_tags gallery_tags %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_meta %}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
{% endblock %}

{% block content %}
  <div class="sm:px-8 mt-9">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">

          <!-- content here -->
          <div class="flex flex-col-reverse md:flex-row gap-4">
            <div class="md:mt-10 max-w-2xl">
              <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                {{ page.headline }}
              </h1>

              <div class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                {{ page.intro|richtext }}
              </div>

              <div class="mt-6 flex gap-6">
                {% for social_link in page.social_links.all %}
                    <a
                      href="{{ social_link.link.url }}" target="_blank"
                      class="group -m-1 p-1 text-zinc-500 hover:text-zinc-600 dark:text-zinc-400 dark:hover:text-zinc-300"
                      aria-label="Follow on {{ social_link.link.title }}"
                      title="Follow on {{ social_link.link.title }}"
                    >
                      <span class="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300">
                        <i class="fa-brands {{ social_link.link.icon }} fa-xl"></i>
                      </span>
                    </a>
                {% endfor %}
              </div>
            </div>

            {% if page.photo %}
              {% image page.photo fill-320x320 as personal_image %}
              <div class="lg:ms-auto flex md:hidden lg:flex justify-center items-center">
                <div class="border bg-white p-0.5 rounded-full lg:min-w-[15rem]">
                  <img class="rounded-full" src="{{ personal_image.url }}" alt="Serhii Diachok" />
                </div>
              </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>

  {% random_gallery_images %}

  <div class="sm:px-8 mt-24 md:mt-28">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">

          <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
            <div class="flex flex-col gap-16">
              {% latest_blog_posts %}
            </div>

            <div class="space-y-10 lg:pl-16 xl:pl-24">
              {% contact_form %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
