{% load wagtailimages_tags %}
{% load page_tags %}

{% get_sidebar_block as sidebar %}

<div class="m-6">
  {% if sidebar %}
    {% image sidebar.photo fill-300x300 as sidebar_image %}
    <div class="pt-2 md:pt-8">
      <div class="mx-auto border rounded-full p-0.5 bg-white w-[180px] h-[180px] shadow-lg shadow-primary-800">
        <img src="{{ sidebar_image.url }}" alt="{{ sidebar.title }}" class="border rounded-full" />
      </div>
    </div>

    <h2 class="mt-6 text-center text-3xl font-bold">{{ sidebar.title }}</h2>
    <h3 class="mt-3 text-center text-lg font-medium">{{ sidebar.sub_title }}</h3>
  {% endif %}
</div>
