{% extends "base.html" %}
{% load wagtailmetadata_tags %}
{% load wagtailcore_tags %}

{% block extra_meta %}
  {% meta_tags %}
{% endblock %}

{% block content %}
  <div class="sm:px-8 mt-9 sm:mt-16">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">

          <div class="xl:relative">
            <div class="mx-auto max-w-3xl">
              <a href="{{ page.get_parent.url }}" aria-label="Go back to articles" class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 lg:absolute lg:-left-5 lg:-mt-2 lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0">
                <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400">
                  <path d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>

              <article>
                <header class="flex flex-col">
                  <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">{{ page.title }}</h1>

                  <div class="order-first flex items-center gap-4">
                    <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                    <time datetime="{{ page.date }}" class="text-base text-zinc-400 dark:text-zinc-500">
                      {{ page.date|date:"F j, Y" }}
                    </time>

                    {% if page.tags.all.count %}
                      <div class="tags">
                        {% for tag in page.tags.all %}
                          <a href="{{ page.get_parent.url }}?tag={{ tag }}"
                             class="rounded-full bg-gray-50 px-3 py-1.5 font-medium text-sm text-gray-600 hover:bg-gray-100">
                            {{ tag }}</a>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </header>

                <div class="mt-8 prose dark:prose-invert max-w-none">
                  {% include_block page.body %}
                </div>
              </article>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
