{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="sm:px-8 mt-9 sm:mt-16">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">

          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
              {{ page.title }}
            </h1>
            <div class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
              {{ page.intro|richtext }}
            </div>
          </header>

          <div class="mt-16 sm:mt-20">
            <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="flex flex-col space-y-16">

                {% for post in articles %}
                  <article class="md:grid md:grid-cols-5">

                    <div class="md:col-span-3 md:pr-2 group relative flex flex-col items-start">
                      <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                        <span class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"></span>
                        <a href="{% pageurl post %}">
                          <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                          <span class="relative z-10">{{ post.title }}</span>
                        </a>
                      </h2>

                      <time class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="{{ post.specific.date }}">
                        <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                          <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                        </span>
                        {{ post.specific.date|date:"F j, Y" }}
                      </time>

                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                        {{ post.specific.intro }}
                      </p>

                      <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                        Read article
                        <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                          <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </div>
                    </div>

                    <div class="mt-1 hidden md:block relative z-10 order-first mb-3">
                      <time class="text-sm text-zinc-400 dark:text-zinc-500" datetime="{{ post.specific.date }}">
                        {{ post.specific.date|date:"F j, Y" }}
                      </time>

                      {% if post.specific.tags.all.count %}
                        <div class="tags">
                          {% for tag in post.specific.tags.all %}
                            <a href="{{ page.url }}?tag={{ tag }}"
                               class="bg-zinc-50 px-2 py-0.5 rounded-full text-sm text-zinc-600 hover:bg-zinc-100">{{ tag }}</a>
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>

                    {% with post.specific.image as main_image %}
                      {% if main_image %}
                        <div class="hidden md:block relative z-10 order-last">
                          <a href="{% pageurl post %}" class="text-center">
                            {% image main_image fill-320x240 as image %}
                            <img src="{{ image.url }}" alt="{{ post.title }}" class="w-full rounded" />
                          </a>
                        </div>
                      {% endif %}
                    {% endwith %}

                  </article>
                {% endfor %}

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
