<form autocomplete="off"
      hx-post="{% url 'contact-form' %}" hx-target="this" hx-swap="outerHTML"
      class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  {% csrf_token %}
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
         aria-hidden="true" class="h-6 w-6 flex-none">
      <path d="M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
            class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"></path>
      <path d="m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6" class="stroke-zinc-400 dark:stroke-zinc-500"></path>
    </svg>
    <span class="ml-3">Let's connect</span>
  </h2>

  <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">
    If you have an interesting proposition or an idea to implement - don't hesitate to send me a message!
  </p>

  {% if message %}
    <div class="mt-2 rounded-md bg-green-50 p-4" id="contact-feedback">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-green-800 md:-mt-0.5">{{ message }}</p>
        </div>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <button onclick="dismissContactFeedback()" type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
              <span class="sr-only">Dismiss</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="mt-6 flex flex-col gap-4">
    {{ form.non_field_errors }}

    <div>
      <input
        name="email"
        type="email"
        maxlength="150"
        placeholder="Your email"
        aria-label="Your email"
        class="input-text w-full"
        autocomplete="contact-email"
        required
      />
      {{ form.email.errors }}
    </div>

    <div>
      <input
        name="name"
        type="text"
        maxlength="150"
        placeholder="Your name"
        aria-label="Your name"
        class="input-text w-full"
        required
      />
      {{ form.name.errors }}
    </div>

    <div>
      <input
        name="subject"
        type="text"
        maxlength="150"
        placeholder="Subject"
        aria-label="Subject"
        class="input-text w-full"
        required
      />
      {{ form.subject.errors }}
    </div>

    <div>
      <textarea
        name="message"
        placeholder="Message"
        aria-label="Message"
        class="input-text w-full"
        rows="4"
        required
      ></textarea>
      {{ form.message.errors }}
    </div>

    <div>
      <div
        class="cf-turnstile"
        data-sitekey="{{ cloudflare_turnstile_key }}"
        data-action="contact-form"
        data-size="normal"
        data-response-field-name="turnstile_response"
      ></div>
      {{ form.turnstile_response.errors }}
    </div>

    <button class="button flex-none" type="submit" id="btn-submit-message">Send message</button>
  </div>

  <script>
  turnstile.ready(function() {
    const darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
    const isSystemDarkMode = darkModeMediaQuery.matches;
    const isDarkMode =
      window.localStorage.isDarkMode === "true" || (!("isDarkMode" in window.localStorage) && isSystemDarkMode);

    turnstile.render('.cf-turnstile', {
      theme: isDarkMode ? 'dark' : 'light',
    });
  });
  </script>
</form>
