{% load page_tags %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
<head>
  <meta charset="utf-8"/>
  <title>
    {% block title %}
      {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% wagtail_site as current_site %}
      {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'site.webmanifest' %}" />

  {% block extra_meta %}{% endblock %}

  {# Force all links in the live preview panel to be opened in a new tab #}
  {% if request.in_preview_panel %}
    <base target="_blank">
  {% endif %}

  {# Fonts and icons #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

  {# Global stylesheets #}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>

  {% block extra_css %}{% endblock %}
</head>

<body class="flex h-full flex-col bg-zinc-50 dark:bg-black font-sans {% block body_class %}{% endblock %}">
  {% wagtailuserbar %}

  <div class="fixed inset-0 flex justify-center sm:px-8">
    <div class="flex w-full max-w-7xl lg:px-8">
      <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
    </div>
  </div>

  <div class="relative">
    {% include "partials/header.html" %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}
  </div>

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
  {% django_htmx_script %}
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

  {% block extra_js %}{% endblock %}

  {% cloudflare_web_analytics %}
</body>
</html>
