@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-nav {
    @apply flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10;
}

.navbar-nav a {
    @apply relative block px-3 py-2 transition hover:text-primary-500 hover:dark:text-primary-400;
}

.navbar-nav .active a {
    @apply text-primary-500 dark:text-primary-400;
}

.block-image img {
    @apply w-full rounded-md md:h-96 lg:h-[480px] object-cover transition-transform hover:scale-110;
}

.errorlist {
    @apply mt-1;
}

.errorlist li {
    @apply text-sm text-rose-600;
}

.sl-overlay {
    @apply !bg-gray-800;
}

@layer components {
    .page-title {
    }

    .input-text {
        @apply min-w-0 flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-primary-500 focus:outline-none focus:ring-4 focus:ring-primary-500/10 dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-primary-400 dark:focus:ring-primary-400/10 sm:text-sm;
    }

    .button {
        @apply inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70;
    }
}
