{% load wagtailimages_tags %}
<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    {% for gallery_image in gallery_images %}
      <div class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl {% cycle 'rotate-2' '-rotate-2' %}">
        {% image gallery_image.image fill-600x660 as image %}
        <img
          alt="image" loading="lazy" decoding="async"
          class="absolute inset-0 h-full w-full object-cover" style="color:transparent"
          src="{{ image.url }}"
        />
      </div>
    {% endfor %}
  </div>
</div>
